@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Play:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  margin: 0;
  font-family: "Play";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./Images/background.jpg);
  background-size: cover;
background-repeat: no-repeat;

height: 100vh;

}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60rem;
}

.nav__brand {

  padding: 20px;
}

.nav__brand h1 {
  color: white;
  font-size: clamp(1.75em, 4vw, 2.5em);
  font-weight: 800;
}

.nav__connect {
  border: 2px solid green;
  width: 175px;
  height: 50px;
  border: none;
  background-color: white;
  backdrop-filter: blur(5px);

  font-family: "Play";
  font-size: 1.10em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
  color: black;
}


/* ------------------------------------------------------ */
/* -- IMAGE -- */


.image img {
  width: 512px;
  height: 512px;
  border-radius: 6px;
}

.image__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__placeholder p {
  margin: 0 10px;
}

/* ------------------------------------------------------ */
/* -- TEXT -- */
p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* home css starts  */
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.formInputDiv{
  display: flex;
  flex-direction: column;
}
.homeInner{
  height: 70vh;
  width: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form{
  
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 2rem;
  color: #39145a;
}
.page1{
  width: 100%;
}
.page1 .formInputDiv{
  width: 100%;
  margin: 0.5rem 0rem;
}
.formInputDiv input{
  background-color: transparent;
  height: 3rem;
  padding: 0.5rem;
  border: 2px solid #251544;
}
.formInputDiv label{
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.imgDiv{
  height: 100%;
  width: 50%;

}
.imgDiv img{
  height: 100%;
  width: 100%;
}
.btn{
  width: 100%;
  margin-top: 2rem;
  height: 3rem;
  background-color:#39145a;
  /* border: 2px solid rgb(41, 130, 129); */
  border: none;
  color: white;
  border-radius: 0 !important;
  
}
.backbtn{
  margin-top: 0.5rem;
}
.btn:hover{
  border: 2px solid #39145a;
}
.metaData{
  margin-top: 0.5rem;
}
/* home css ends */
/* spinner css starts  */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #39145a;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
.mintSuccessfull{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* spinner css ends */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  nav{
    width: 40rem;
  }
  .homeInner{
    width: 40rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  nav{
    width: 30rem;
  }
  .homeInner{
    width: 30rem;
  }
}


@media screen and (max-width: 666px) {
  nav{
    width: 90%;
  }
  .homeInner{
    width: 90%;
  }
}